<script type="text/javascript">
  window.staticImages = {
    logo: "<%= asset_path('car-collision-favicon.svg') %>",
    taxi: "<%= asset_path('taxi.png') %>",
    motorcycle: "<%= asset_path('motorcycle.png') %>",
    bike: "<%= asset_path('bike.png') %>",
    ped: "<%= asset_path('ped.png') %>",
    spinner: "<%= asset_path('spinner.svg') %>",

  };
  window.staticSounds = {
    traffic: "<%= asset_path('traffic.mp3') %>",
  }
</script>
<main id="root"></main>
