<%= flash[:notice] %>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Lat</th>
      <th>Lng</th>
    </tr>
  </thead>

  <tbody>
    <% @collisions.each do |collision| %>
    <tr>
      <td><%= collision.time %></td>
      <td><%= collision.lat %></td>
      <td><%= collision.lng %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="">
  <h3>Import collisions data!</h3>
  <%= form_tag import_collisions_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
